.landing-page__container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.landing-page__section {
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  width: 100%;
}

.landing-page__section--background {
  background-color: skyblue;
  background-image: url(../img/Large-Triangles.svg);
}

.landing-page__section--white {
  background-color: white;
}